.nav {
  background-color: #71dfe7;
  color: #ffe652;
  font-weight: bold;
  text-shadow: #009dae 1px 1px 8px;
  height: 100%;
  margin: 0px;
  padding: 0%;
  width: 10rem;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav .active li {
  background-color: #ffe652;
  color: #009dae;
  text-shadow: #71dfe7 1px 1px 8px;
}

.nav .nav-item {
  align-items: center;
  display: flex;
  list-style-type: none;
  padding: 15px;
  transition: all 0.5s;
}

.nav .nav-item:hover {
  background-color: #c2fff9;
  color: black;
}

.nav-item svg {
  font-size: 1.22rem;
  padding: 0.2rem;
}

#expand-button {
  color: #009dae;
  display: flex;
  font-size: 2rem;
  justify-content: center;
}

.nav-collapsed {
  width: 4rem;
}

.nav-collapsed .nav-title {
  opacity: 0;
  font-size: 0%;
}

.nav-collapsed .nav-title {
  width: 0%;
}

.nav,
.nav svg,
.nav .nav-title {
  transition: 1s font-size ease-in-out, 1s width ease-in-out,
    1s opacity ease-in-out;
}

@media only screen and (max-width: 800px) {
  /*
  TODO: for mobiles and Tablets
  */
  .nav {
    display: flex;
    width: 100%;
    overflow-x: auto;
  }

  #expand-button {
    align-items: center;
    padding: 0% 1rem;
  }
}
