.container {
  display: grid;
  grid-template-columns: 20vw auto;
  grid-template-rows: 5rem auto 4rem;
  height: 100vh;

  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
